<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Fbpixel>
			<version>0.0.1</version>
		</Cammino_Fbpixel>
	</modules>
	<global>
		<blocks>
			<fbpixel>
				<class>Cammino_Fbpixel_Block</class>
			</fbpixel>
		</blocks>
		<helpers>
            <fbpixel>
                <class>Cammino_Fbpixel_Helper</class>
            </fbpixel>
        </helpers>
        <models>
        	<fbpixel>
        		<class>Cammino_Fbpixel_Model</class>
        	</fbpixel>
        </models>
        <events>
        </events>
	</global>
	<frontend>
		<layout>
			<updates>
				<fbpixel>
					<file>fbpixel.xml</file>
				</fbpixel>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_checkout_cart_add>
				<observers>
					<fbpixel_cart_add>
						<class>fbpixel/observer</class>
						<method>addToCart</method>
					</fbpixel_cart_add>
				</observers>
			</controller_action_predispatch_checkout_cart_add>
			<checkout_onepage_controller_success_action>
				<observers>
					<fbpixel_order_success>
						<class>fbpixel/observer</class>
						<method>orderSuccess</method>
					</fbpixel_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
			<checkout_multishipping_controller_success_action>
				<observers>
					<fbpixel_order_success>
						<class>fbpixel/observer</class>
						<method>orderSuccess</method>
					</fbpixel_order_success>
				</observers>
			</checkout_multishipping_controller_success_action>
			<sales_order_place_after>
				<observers>
					<fbpixel_order_success>
						<class>fbpixel/observer</class>
						<method>orderSuccess</method>
					</fbpixel_order_success>
				</observers>
			</sales_order_place_after>
		</events>
	</frontend>
</config>
